body {
    font: 12px sans-serif;
}

#legend {
    font: 12px sans-serif;
}

.tick>line {
    fill: none;
    stroke: black;
}

.tick>text {
    fill: black;
}

path.domain {
    fill: none;
    stroke-width: 2px;
    stroke: black;
}

#wrapper {
    clear: both;
}

#chart1 {
    float: left;
}

#chart2 {
    float: left;
}

.custom-select {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #ffffff;
    cursor: pointer;
}

.newengland{
    fill: #005eff
}

.midatlantic {
    fill: #4288ff
}


.southeast{
    fill: #6ea3ff
}

.greatLakes{
    fill: #B4CEFF
}
.greatPlains{
    fill: #F1B4FF
}

.rocky{
    fill: #E679FF
}

.southwest{
    fill: #DD46FF
}

.farWest {
    fill: #D103FF
    
}
.outlying{
    fill: #000000
}